In [5]:
import datetime
import warnings
from dataset import Dataset
from extrapolations import Extrapolations
from experiment import Experiment

# comment the following when debugging
warnings.filterwarnings("ignore")

## Load SapiQ Dataset

In [6]:
# change the company_id if you want to test a different company
company_id = "23d62860a03b91c69058cccc07fc545910a1c115d9fb22ac09b79365b4c0369f"

In [7]:
# load dataset
dataset = Dataset(dataset_name="./data/sapiq.json")
dataset.data[dataset.data.id==company_id]

,id,date,customer_focus,sectors,revenue,yoy_growth,next_yoy_growth
602,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-04-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,205.497026,1.000441,0.809690
603,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-05-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,166.388849,0.809690,1.675081
604,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-06-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,278.714848,1.675081,1.479736
605,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-07-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,412.424534,1.479736,0.831962
606,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-08-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,343.121483,0.831962,1.214051
607,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-09-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,416.566869,1.214051,1.111263
608,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-10-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,462.915337,1.111263,1.127535
609,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-11-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,521.953423,1.127535,1.562832
610,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2001-12-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,815.725319,1.562832,1.072292
611,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-01-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,874.695856,1.072292,1.026025
612,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-02-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,897.459969,1.026025,1.238199
613,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-03-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,1111.234197,1.238199,1.606739
614,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-04-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,1785.463037,1.606739,1.038563
615,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-05-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,1854.315071,1.038563,0.982551
616,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-06-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,1821.958957,0.982551,0.681721
617,23d62860a03b91c69058cccc07fc545910a1c115d9fb22...,2002-07-01,{3345821e031f176625606aa47a2e8bf7492f22e193159...,{3fbe5ed156f149939d9396e729af009070ccc54984b5b...,1242.067536,0.681721,1.041705

## Extrapolate for one company

In [8]:
extrapolations = Extrapolations(
    dataset=dataset,
    org_id=company_id,
    latest_known_dt=datetime.datetime(2001, 12, 1),
    extrapolate_len=12,
    n_trials=10,
    method="probability_matching",
    yoy_step=1,
)
extrapolations.run(params={"filter_type": "smooth"})
extrapolations.get_extrapolations_metric_mean_confidence_interval()

,prediction_date,revenue_mean,revenue_95_lower_bound,revenue_95_upper_bound,revenue_min,revenue_max
0,2002-01-01,865.796319,794.567977,937.024661,789.659429,1095.086333
1,2002-02-01,976.040717,881.880335,1070.201098,874.783588,1275.596860
2,2002-03-01,1081.044583,964.558955,1197.530212,953.678836,1447.902443
3,2002-04-01,1178.529444,1043.781359,1313.277530,1028.486280,1598.879624
4,2002-05-01,1265.769820,1119.082994,1412.456646,1108.488909,1717.987678
5,2002-06-01,1340.320070,1188.203700,1492.436441,1188.203700,1799.646481
6,2002-07-01,1399.117933,1245.083707,1553.152158,1188.596210,1844.181656
7,2002-08-01,1438.480676,1280.143049,1596.818303,1140.658184,1854.880447
8,2002-09-01,1454.402109,1281.329453,1627.474765,1046.627773,1836.733128
9,2002-10-01,1441.482621,1236.956045,1646.009197,898.506263,1792.753002
10,2002-11-01,1393.197410,1139.316875,1647.077946,688.163428,1730.357256
11,2002-12-01,1302.337943,982.703547,1621.972339,406.798005,1707.440250

In [11]:
extrapolations = Extrapolations(
    dataset=dataset,
    org_id=company_id,
    latest_known_dt=datetime.datetime(2001, 12, 1),
    extrapolate_len=12,
    n_trials=10,
    method="probability_matching",
    yoy_step=1,
)
extrapolations.run(params={"filter_type": "smooth"})
extrapolations.get_extrapolations_metric_mean_confidence_interval()

,prediction_date,revenue_mean,revenue_95_lower_bound,revenue_95_upper_bound,revenue_min,revenue_max
0,2002-01-01,802.633114,749.426589,855.839638,726.223456,886.990730
1,2002-02-01,904.534440,837.989853,971.079027,793.827238,1008.446032
2,2002-03-01,1002.521991,919.004458,1086.039524,850.670772,1127.732124
3,2002-04-01,1093.511276,987.431324,1199.591228,893.046336,1241.896408
4,2002-05-01,1175.253717,1038.543161,1311.964273,918.483296,1350.724456
5,2002-06-01,1245.459778,1067.703396,1423.216160,924.311174,1455.488425
6,2002-07-01,1301.046657,1070.379842,1531.713473,908.154747,1562.352735
7,2002-08-01,1338.539541,1041.394436,1635.684647,865.412012,1667.985889
8,2002-09-01,1353.105464,974.452466,1731.758462,789.277473,1842.849508
9,2002-10-01,1338.910762,861.926290,1815.895234,672.562011,2025.171700
10,2002-11-01,1288.630714,694.715523,1882.545905,505.759977,2210.844745
11,2002-12-01,1192.250944,464.300613,1920.201275,277.780340,2380.778449

In [12]:
from cli import main
import pandas as pd
import json

data = main(database_file_path="data/sapiq_db.json", json_data_path="data/tmp.json")
extrapolation_dataframe = pd.DataFrame.from_records(json.loads(data))

In [13]:
extrapolation_dataframe

,prediction_date,revenue_mean,revenue_95_lower_bound,revenue_95_upper_bound,revenue_min,revenue_max
0,1009843200000,834.237416,765.817850,902.656983,660.359921,918.308439
1,1012521600000,939.230696,855.729749,1022.731642,720.944378,1041.352520
2,1014940800000,1038.790546,937.861402,1139.719691,771.549976,1161.441516
3,1017619200000,1130.060563,1008.900629,1251.220496,809.602947,1275.343285
4,1020211200000,1209.241349,1064.541612,1353.941086,831.681929,1378.041951
5,1022889600000,1271.979665,1099.781854,1444.177477,832.800123,1464.060011
6,1025481600000,1313.499549,1109.572967,1517.426131,807.099776,1529.145716
7,1028160000000,1328.265593,1088.055641,1568.475546,747.793120,1590.098731
8,1030838400000,1310.300955,1028.478827,1592.123082,646.374882,1619.457489
9,1033430400000,1252.411928,922.553577,1582.270279,492.770844,1636.900931
10,1036108800000,1146.316106,760.993163,1531.639049,276.058064,1635.391277
11,1038700800000,983.581358,534.006535,1433.156181,0.000000,1596.977369

## Evaluation metrics

In [14]:
# NLL
extrapolations.calculate_neg_likelihood()

  start_date prediction_date  negative_likelihood
0 2002-01-01      2002-01-01             7.830699
1 2002-01-01      2002-02-01             7.828935
2 2002-01-01      2002-03-01             7.836039
3 2002-01-01      2002-04-01             8.068892
4 2002-01-01      2002-05-01             8.061971
5 2002-01-01      2002-06-01             8.002824
6 2002-01-01      2002-07-01             7.854824

In [15]:
# ACC
extrapolations.calculate_acc()

1.0

In [16]:
# RMSE
extrapolations.calculate_rmse()

95.76121470438072

In [17]:
# MAPE
extrapolations.calculate_mape()

0.04979789944610513

In [18]:
# PCC
extrapolations.calculate_pcc()

0.7035986073502092

## Extrapolate for all possible dates

In [ ]:
experiment = Experiment(
    dataset=dataset,
    org_id=company_id,
    extrapolate_len=12, # months
    n_trials=10,
    method="probability_matching",
    yoy_step=1,
)
experiment.run(params={})

In [ ]:
# visualize prediction starting from particular date
date_to_inspect = datetime.datetime(2002, 2, 1)
experiment.plot_extrapolations_start_from(date_to_inspect)

In [ ]:
# print the extrapolated results from the same date
experiment.get_extrapolations_metric_mean_confidence_interval_df_fr(date_to_inspect)